<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head-tags') %>
  <%- include('includes/commons') %>
  <%- include('includes/custom-styles') %>
  <title>error - raaay's </title>
  <base href="/">
</head>
<body>

  <%- include('components/side-nav') %>

  <div class="container-fluid">
    <div class="card error-card">
      <h4 class="card-header">
        error
      </h4>
      <div class="card-body">

        <h2>message</h2>
        <pre>
          <code>
            <%= error %>
          </code>
        </pre>
        <h2>stack</h2>
        <pre>
          <code>
            <%= stack %>
          </code>
        </pre>

      </div>
    </div>
  </div>

</body>