<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head-tags') %>
  <%- include('includes/commons') %>
  <%- include('includes/custom-styles') %>
  <title><%= post.title %> - raaay's</title>
  <base href="/posts/<%= post.slug %>/">
</head>
<body>

  <%- include('components/side-nav') %>

  <div class="container-fluid px-5">
    <%- include('components/post', { post }) %>
  </div>

</body>
</html>