<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head-tags') %>
  <%- include('includes/commons') %>
  <%- include('includes/custom-styles') %>
  <title>raaay's </title>
  <base href="/">
</head>
<body>

  <%- include('components/side-nav') %>

  <div class="container-fluid p-5">

    <%# post feed list %>
    <div class="post-list">
      <% for (const post of posts) { %>
        <%- include('components/post-feed', { post }) %>
      <% } %>
    </div>

    <%# pagination %>
    <%- include('components/pagination', { page, total }) %>    

  </div>
  
</body>
</html>