<!DOCTYPE html>

<%- include("components/common-head") %>
<title><%= post.title %> - <%= siteOptions.SITE_NAME %></title>
<base href="/posts/<%= post.slug %>">

<div class="ui container">

  <%# top menu %>
  <%- include("components/head-menu") %>

  <%# post detail card %>
  <%- include("components/post-content") %>
  
</div>
