<div class="pagi card">
  <nav>
    <div class="row group-pagination">
      <a class="col btn btn-pagination<%- page <= 1 ? ' disabled': '' %>" href="/posts?page=<%=(page-1)%>"><< &nbsp; Prev</a>
      <a class="col btn btn-pagination disabled" href="/posts?page=<%=page%>"><%= page %></a>
      <a class="col btn btn-pagination<%- page >= total ? ' disabled': '' %>" href="/posts?page=<%=(page+1)%>">Next &nbsp; >></a>
    </div>
  </nav>
</div>