<div class="card post-feed">

  <% if (post.heroImage) { %>
  <a href="/posts/<%= post.slug %>">
    <img class="card-img-top" src="<%= `posts/${post.slug}/${post.heroImage}` %>" alt=""></img>
  </a>
  <% } %>

  <div class="card-body">
      <a href="/posts/<%= post.slug %>">
        <h2 class="text-dark post-feed-title"><%= post.title %></h2>
        <div class="text-secondary post-feed-intro">
          <%= post.intro %>
        </div>
      </a>
  </div><%# end: "card-body" %>

  <div class="text-secondary card-footer">

      <%# date %>
      <div class="d-inline">
        <i class="fa fa-calendar"></i>
        <% if (post.date) { %>
          <span><%= post.date.toLocaleDateString() %></span>
        <% } else { %>
          <span>---</span>
        <% } %>
      </div>
      &nbsp;

      <%# category %>
      <div class="d-inline">
        <i class="fa fa-folder-open"></i>
        <% if (post.category) { %>
          <span><a href="#"><%= post.category.name %></a></span>
        <% } else { %>
          <span>---</span>
        <% } %>
      </div>
      &nbsp;      
      
      <%# tags %>
      <div class="d-inline">
        <i class="fa fa-tags"></i>
        <% if (post.tags.length) {
             for (const [idx, tag] of post.tags.entries()) { %>
               <span><a href="#"><%= tag.name %></a></span>
        <%   } %>
        <% } else { %>
          <span>---</span>
        <% } %>
      </div>
      &nbsp;
      
    </div><%# end: "card-footer" %>

</div><%# end: "card" %>
